body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(233, 178, 178);
    margin:0;
    color:white;
}

.container {
    display: flex;
    justify-content: center;

    /* display: grid; */
    /* grid-template-columns: auto; */
    /* grid-template-rows: 60% 40%; */
    padding: 4em 2em 4em 2em;
}

.MethodPost {
    /* grid-template-columns: auto; */
    /* display: flex;
    justify-content: center; */
    max-width: 400px;
    margin-left: 1em;
    margin-bottom: 1em;
    /* margin-top: 4em; */
    padding: 1em 2em 2em 1em;
    background: rgb(160, 152, 152);
}

.MethodGet {
    /* grid-template-columns: auto; */
    /* display: flex;
    justify-content: center; */
    max-width: 400px;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 1em 2em 2em 1em;
    background: rgb(236, 102, 102);
}

input{
    max-width: 150px;
}

/* .footer{
    font-weight: 100;
} */