body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: rgb(107, 120, 233); */
    margin: 0%;
    /* color:white; */
}

.beranda{
margin-left: 5em;
}

.navtop {
    background-color: #3f69a8;
    height: 60px;
    width: 100%;
    border: 0;
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ecf0f6;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #ecf0f6;
}

.data_santri{
        margin-left: 8em;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
      }
      
td, th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
#td.asal{
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}
      
tr:hover {
    background-color: #ddd;
}
      
th {
    padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #614caf;
        color: white;
    }

.formLogin {
    /* grid-template-columns: auto; */
    display: flexbox;
    justify-content: center;
    max-width: 400px;
    margin-left: 25em;
    margin-top: 6em;
    margin-bottom: 1em;
    /* margin-top: 4em; */
    padding: 1em 4em 2em 4em;
    background: #3f69a8;
}