body{
    margin: 0;
}

.header h1{
    margin: 0;
    padding-top: 25px;
    text-align: center;
}

.container{
    background-color: lavender;
    max-height: auto;
    max-width: 30%;
}

.login-page{
    display: flex;
    justify-content: center;
    padding: 15px 25px 50px 25px;
}